@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --space-blue: #d0d6f9;
}

@theme inline {
  --color-space-blue: var(--space-blue);
  --font-bellefair: var(--font-bellefair);
  --font-barlow: var(--font-barlow);
  --font-barlow-condensed: var(--font-barlow-condensed);
}
@theme {
  --breakpoint-xl: 83.2rem;
  --breakpoint-2xl: 89.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}
